{% extends "base.html" %}
{% block content %}
<section id="content">



<div id="page"  class="postPage">
    <div class="row">
      <div class="large-12 columns">
	<article>
          <h1 id="blogTitle"> About</h1>
          <hr />
	  <img src="theme/img/signature.png" style="float:right;width:180px;"/>
	  <p>Hi! My name is Ray Alez. I create comedy revolving around topics of science fiction and technology.  </p>
	  <p>If you like my comics - you will probably also like
	    <a href="http://fictionhub.io/user/rayalez">fiction</a> that I write.</p>
	  <p>If you want to send me a message - my email is raymestalez@gmail.com</p>
	  
	  </article>
      </div>
</div>



<script>
var posts = [
    {% for article in articles %}
    "/{{ article.url }}",
    {% endfor %}
];

posts.reverse();
// console.log(links);
var next = "";
var prev = "";

next = posts[posts.length-1];
prev = posts[posts.length-2];
//$("#next-post").css('background-color','rgba(51, 51, 51, 0.64)');
//$("#last-post").css('background-color','rgba(51, 51, 51, 0.64)');		




randomNumber = Math.round(Math.random()*(posts.length-2))
random = posts[randomNumber];	


console.log("First post:" + posts[0]);
console.log("Prev post:" + prev);
console.log("Random post:" + random);
console.log("Next post:" + next);
console.log("Last post:" + posts[posts.length-1]);


$("#first-post").attr("href", posts[0]);
$("#prev-post").attr("href", prev);
$("#random-post").attr("href", random);
$("#next-post").attr("href", next);
$("#last-post").attr("href", posts[posts.length-1]);


</script>    
    


{% include 'subscribe-footer.html' %}


<!-- Comments -->
  
<!-- <div class="row"> -->
<!--   <div class="large-12 columns"> -->
<!--     <div class="comments"> -->
<!--       <article> -->
<!-- 	<\!-- <h3>Comments: </h3> -\-> -->
<!-- 	<\!-- <hr /> -\-> -->
<!-- 	<script data-isso="//comments.orangemind.io/om/" -->
<!-- 		data-isso-avatar="false" -->
<!-- 		src="//comments.orangemind.io/om/js/embed.dev.js"></script> -->
<!-- 	<section id="isso-thread"></section> -->
<!-- 	<hr /> -->
<!--       </article> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

</div>


</section>
{% endblock content %}
