{% extends "base.html" %}
{% block content %}
<section id="content">



<div id="page"  class="postPage">
    <div class="row">
      <div class="large-12 columns">
	<article>
          <h1 id="blogTitle"> About</h1>
          <hr />
	  <img src="theme/img/signature.png" style="float:right;width:180px;"/>
	  <p>Hi! My name is Ray Alez.</p>

	  <p>I write essays about rationality, creativity, technology, and startups.</p>

	  <!-- 
	  <p>I write articles about rationaliy, science, technology, and startups.<br/>
	    I also create science fiction and comedy. </p>
	   -->
	  <!-- <p>I write articles about rationality, science fiction, and comedy. I am also interested in Computer Science, AI, and Startups. </p> -->
	  <!-- <p> On this blog I write articles and essays about rationality, science, technology, and startups.</p> -->

	  <p>If you like this blog - you probably want to check out
	    the <a href="http://rayalez.com">other projects I have created</a>.</p>

	  <p>If you want to send me a message, my email is  <br/> <b>raymestalez@gmail.com</b></p>

	  <hr/>
	  <p>You can also find me over here:</p>
	  <div class="social-media">
	    <a href="https://medium.com/@rayalez/"><i class="fa fa-medium"></i></a>
	    <a href="https://news.ycombinator.com/user?id=rayalez"><i class="fa fa-hacker-news"></i></a>
	    <a href="https://www.reddit.com/u/raymestalez/"><i class="fa fa-reddit"></i></a>	    
	    <a href="https://twitter.com/RaymestAlez"><i class="fa fa-twitter"></i></a>
	    <a href="https://www.facebook.com/rayalez/"><i class="fa fa-facebook"></i></a>
	    <a href="https://github.com/raymestalez"><i class="fa fa-github"></i></a>

	  </div>
	  
	  </article>
      </div>
</div>

    <style>
      .social-media i {
      font-size:40px;
      }
      .social-media a {
      margin-right:10px;
      }
    </style>

<script>
var posts = [
    {% for article in articles %}
    "/{{ article.url }}",
    {% endfor %}
];

posts.reverse();
// console.log(links);
var next = "";
var prev = "";

next = posts[posts.length-1];
prev = posts[posts.length-2];
//$("#next-post").css('background-color','rgba(51, 51, 51, 0.64)');
//$("#last-post").css('background-color','rgba(51, 51, 51, 0.64)');		




randomNumber = Math.round(Math.random()*(posts.length-2))
random = posts[randomNumber];	


console.log("First post:" + posts[0]);
console.log("Prev post:" + prev);
console.log("Random post:" + random);
console.log("Next post:" + next);
console.log("Last post:" + posts[posts.length-1]);


$("#first-post").attr("href", posts[0]);
$("#prev-post").attr("href", prev);
$("#random-post").attr("href", random);
$("#next-post").attr("href", next);
$("#last-post").attr("href", posts[posts.length-1]);


</script>    
    


{# {% include 'subscribe-footer.html' %} #}


<!-- Comments -->
  
<!-- <div class="row"> -->
<!--   <div class="large-12 columns"> -->
<!--     <div class="comments"> -->
<!--       <article> -->
<!-- 	<\!-- <h3>Comments: </h3> -\-> -->
<!-- 	<\!-- <hr /> -\-> -->
<!-- 	<script data-isso="//comments.orangemind.io/om/" -->
<!-- 		data-isso-avatar="false" -->
<!-- 		src="//comments.orangemind.io/om/js/embed.dev.js"></script> -->
<!-- 	<section id="isso-thread"></section> -->
<!-- 	<hr /> -->
<!--       </article> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

</div>


</section>
{% endblock content %}
