{% extends "base.html" %}
{% block content %}

<div id="page"  class="postPage">
    <div class="row">
      <div class="large-12 columns">
	<article>
          <h1 id="blogTitle"> {{ article.title }} </h1>
          <hr />
	  {{ article.content }}
	  </article>
      </div>
</div>


{% if article.category == "comics" %}
<style>
  h1 {
  color:white;
  display:none;
  }
  article {
  background: rgba(0,0,0,0.8);
  background: none;
  padding: 0;
  border:none;
  }
  hr {
  margin: 20px;
  display:none;
  }
  p {
  text-align:center;
  }
  article img {
  width: 100%;
  }
</style>
{% endif %}


{% include 'subscribe-footer.html' %}

<script>
var posts = [
    {% for article in articles %}
    "/{{ article.url }}",
    {% endfor %}
];

var comicurl = "/{{article.url}}"
posts.reverse();
// console.log(links);
var next = "";
var prev = "";
for (var i = 0; i <= posts.length-1; i++) {
    if (posts[i] == comicurl){
	if (i < posts.length-1){
	    next = posts[i+1];
	} else {
		next = posts[i];
		$("#next-post").css('background-color','rgba(51, 51, 51, 0.64)');
		$("#last-post").css('background-color','rgba(51, 51, 51, 0.64)');		
	}

	if (i > 0){
	    prev = posts[i-1];
	} else {
		     prev = posts[0];
		     $("#prev-post").css('background-color','rgba(51, 51, 51, 0.64)');
		     $("#first-post").css('background-color','rgba(51, 51, 51, 0.64)');		
		     
	}	
    }
}

randomNumber = Math.round(Math.random()*(posts.length-1))
var random = posts[randomNumber]
if (posts[randomNumber] == comicurl) {
    if (randomNumber < posts.length - 2 ){
	random = posts[randomNumber+2];
    } else {
	random = posts[randomNumber-2];	
    }
}


console.log("First post:" + posts[0]);
console.log("Prev post:" + prev);
console.log("Random post:" + random);
console.log("Next post:" + next);
console.log("Last post:" + posts[posts.length-1]);


$("#first-post").attr("href", posts[0]);
$("#prev-post").attr("href", prev);
$("#random-post").attr("href", random);
$("#next-post").attr("href", next);
$("#last-post").attr("href", posts[posts.length-1]);


</script>    

<!-- Comments -->
  
<!-- <div class="row"> -->
<!--   <div class="large-12 columns"> -->
<!--     <div class="comments"> -->
<!--       <article> -->
<!-- 	<\!-- <h3>Comments: </h3> -\-> -->
<!-- 	<\!-- <hr /> -\-> -->
<!-- 	<script data-isso="//comments.orangemind.io/om/" -->
<!-- 		data-isso-avatar="false" -->
<!-- 		src="//comments.orangemind.io/om/js/embed.dev.js"></script> -->
<!-- 	<section id="isso-thread"></section> -->
<!-- 	<hr /> -->
<!--       </article> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

</div>

{% endblock content %}
