{% extends "base.html" %}
{% block content %}
<section id="content">
  
  <div id="page"  class="blogPage">
    <div class="row">
      <div class="large-12 columns">

	{% for article in articles  | reverse  %} <!-- articles _ page. object_list  -->
	<!-- | reverse -->
	<a href="{{ SITEURL }}/{{ article.url }}">

	  <article class="video" style="background:rgba(255, 255, 255, 0.95)!important;">
	    {% if article.image %}
	    <div style="height:166px;width:296.5px;float:right;overflow:hidden;">
	      <img src="{{article.image}}"/>
	    </div>
	    {% endif %}
	  <!-- {# {{ article.summary }} #} -->
	  <div style="padding: 10px 20px 0px 20px!important;
		      	    {% if article.image %}width: 580px;{% endif %}">
	    <h4 style="font-size:26px;font-weight:normal;color:#222222!important;">
	      {{ article.title }}</h4>
	    <hr/>
	  </div>


	  
	  <div style="padding:10px;padding-top:0; padding: 0px 20px 20px 20px;">
	    {{ article.summary | truncate(220) }}
	  </div>
	  
	</article>

	    </a>
	
	{% endfor %}
      </div>

	<div class="clearfix"></div>
	{# {% include 'pagination.html' %} #}

	
    </div>
</section>

<style>
  .video {
  width:calc(100% - 40px)!important;
  height: 166px;
  margin:10px 20px;
  }

  h4 {
  font-weight:bold!important;
  color:black!important;
  }

  hr {
    clear: none!important;
    margin: 0!important;
  }
</style>

{% endblock content %}


http://img.youtube.com/vi/77QhyHAO3lY/mqdefault.jpg
