{% extends "base.html" %}
{% block content %}
<section id="content">
  
  <div id="page"  class="blogPage">
    <div class="row">
      <div class="large-12 columns">

	<!-- lumiverse -->
	<a href="http://lumiverse.io">
	  <article class="video" style="background:rgba(255, 255, 255, 0.95)!important;">
	    <div style="height:166px;width:296.5px;float:right;overflow:hidden;">
	      <img src="/images/projects/lumiverse2.png"/>
	    </div>
	    <div style="padding: 10px 20px 0px 20px!important;width: 580px;">
	      <h4 style="font-size:26px;font-weight:normal;color:#222222!important;">
		lumiverse
	      </h4>
	      <hr/>
	    </div>
	    <div style="padding:10px;padding-top:0; padding: 0px 20px 20px 20px;">
	      <p>The best place to publish, discover, and discuss great educational videos.</p>
	    </div>
	  </article>
	</a>

	<!-- fictionhub -->
	<a href="http://fictionhub.io">
	  <article class="video" style="background:rgba(255, 255, 255, 0.95)!important;">
	    <div style="height:166px;width:296.5px;float:right;overflow:hidden;">
	      <img src="/images/projects/fictionhub2.png"/>
	    </div>
	    <div style="padding: 10px 20px 0px 20px!important;width: 580px;">
	      <h4 style="font-size:26px;font-weight:normal;color:#222222!important;">
		fictionhub
	      </h4>
	      <hr/>
	    </div>
	    <div style="padding:10px;padding-top:0; padding: 0px 20px 20px 20px;">
	      <p>The perfect place to publish, discover, and discuss awesome fiction.</p>
	    </div>
	  </article>
	</a>

	<!-- digita mind -->
	<!-- 
	<a href="http://digitalmind.io">
	  <article class="video" style="background:rgba(255, 255, 255, 0.95)!important;">
	    <div style="height:166px;width:296.5px;float:right;overflow:hidden;">
	      <img src="/images/projects/dm2.png"/>
	    </div>
	    <div style="padding: 10px 20px 0px 20px!important;width: 580px;">
	      <h4 style="font-size:26px;font-weight:normal;color:#222222!important;">
		Digital Mind
	      </h4>
	      <hr/>
	    </div>
	    <div style="padding:10px;padding-top:0; padding: 0px 20px 20px 20px;">
	      <p>My technical articles about Programming, Computer Science, Artificial Intelligence, Math.</p>
	    </div>
	  </article>
	</a>
	-->

	<!-- webcomics -->
	<a href="http://webcomics.io/user/rayalez">
	  <article class="video" style="background:rgba(255, 255, 255, 0.95)!important;">
	    <div style="height:166px;width:296.5px;float:right;overflow:hidden;">
	      <img src="/images/projects/wbc.png"/>
	    </div>
	    <div style="padding: 10px 20px 0px 20px!important;width: 580px;">
	      <h4 style="font-size:26px;font-weight:normal;color:#222222!important;">
		Webcomics
	      </h4>
	      <hr/>
	    </div>
	    <div style="padding:10px;padding-top:0; padding: 0px 20px 20px 20px;">
	      <p>A series of funny webcomics.</p>
	    </div>
	  </article>
	</a>
	

	<!-- Art -->
	<a href="https://www.artstation.com/artist/rayalez">
	  <article class="video" style="background:rgba(255, 255, 255, 0.95)!important;">
	    <div style="height:166px;width:296.5px;float:right;overflow:hidden;">
	      <img src="/images/projects/art.png"/>
	    </div>
	    <div style="padding: 10px 20px 0px 20px!important;width: 580px;">
	      <h4 style="font-size:26px;font-weight:normal;color:#222222!important;">
		My Art
	      </h4>
	      <hr/>
	    </div>
	    <div style="padding:10px;padding-top:0; padding: 0px 20px 20px 20px;">
	      <p>My digital art. 3D graphics, digital paintings, animation.</p>
	    </div>
	  </article>
	</a>
	




      </div>
      <div class="clearfix"></div>
	
    </div>
</section>

<style>
  .video {
  width:calc(100% - 40px)!important;
  height: 166px;
  margin:10px 20px;
  }

  h4 {
  font-weight:bold!important;
  color:black!important;
  }

  hr {
    clear: none!important;
    margin: 0!important;
  }
</style>

{% endblock content %}


http://img.youtube.com/vi/77QhyHAO3lY/mqdefault.jpg
